@font-face {
    font-family: 'PixeloidSans';
    src: url('../public/fonts/PixeloidSans.ttf') format('truetype'),
         url('../public/fonts/PixeloidSans-Bold.ttf') format('opentype');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbb;
  color: white;
  font-family: 'PixeloidSans', sans-serif;

}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

/*Navbar*/

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

img{
  width: 25%;
  }

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}
